.forms{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 100px;
    width: 50%;
    height: auto;
    padding-bottom: 20px;
    padding-left: 10px;
}
button{
    width: 20%;
    background-color: #0056b3 ;
    align-self: center;
    height: 2rem;
    border-radius: 2;
    border-style: groove;
    box-shadow: 1cm;
    
}
input{
    height: 2rem;
}